defaultTitle=Food Portrait
description=Food Portrait is here locally to spy on your pretty tasty birdy daily.

;debug.output=true
;debug.angular=true
;debug.offline=true

;dropdown item lists not in the DB
;dropdown.meal=breakfast;lunch;dinner;snack;other
dropdown.portrait=personal;demographic

dropdown.meal.0.name=Breakfast
dropdown.meal.0.start=5
dropdown.meal.0.end=11
dropdown.meal.1.name=Lunch
dropdown.meal.1.courses=Starter;Main course;Dessert
dropdown.meal.1.start=11
dropdown.meal.1.end=15
dropdown.meal.2.name=Dinner
dropdown.meal.2.courses=Starter;Main course;Dessert
dropdown.meal.2.start=17
dropdown.meal.2.end=22
dropdown.meal.3.name=Snack

dropdown.course.Dinner=Starter;Main course;Dessert
dropdown.course.Lunch=Starter;Main course;Dessert

dropdown.mood=Happy;Excited;Content;Grateful;Comfortable;Sad;Sick;Tired;Stressed;Angry / Upset

grid.showOptions=true
;grid.options.title=Your own Personal Portrait
grid.options.columns=4
..rows=5
..margin=2
..border=1
..ratio=1
..shadow=false

;Server side only
_mysql.host=foodportrait.coqhmkpzcxzn.us-west-1.rds.amazonaws.com
.username=fpapp
.password=f4Thought
.dbname=foodportrait

;Git path for auto-update
_GIT.PATH=C:\Program Files (x86)\Git\bin
_GIT.GIT=git.exe

upload._diskPath=C:\inetpub\wwwroot\upload
upload.baseUrl=/upload
upload.server=http://ec2-52-8-226-210.us-west-1.compute.amazonaws.com

EXIF_SUPPORTED_TYPES=IMAGETYPE_JPEG;IMAGETYPE_TIFF_II;IMAGETYPE_TIFF_MM

_IPTC.headers.2#005=DocumentTitle
..2#010=Urgency
..2#015=Category
..2#020=Subcategories
..2#025=Tags
..2#040=SpecialInstructions
..2#055=CreationDate
..2#060=CreationTime
..2#080=AuthorByline
..2#085=AuthorTitle
..2#090=City
..2#095=State
..2#101=Country
..2#103=OTR
..2#105=Headline
..2#110=Source
..2#115=PhotoSource
..2#116=Copyright
..2#120=Caption
..2#122=CaptionWriter

