defaultTitle=Food Portrait
description=Food Portrait is here locally to spy on your pretty tasty birdy daily.

;debug.output=true
;debug.angular=true
;debug.offline=true

;dropdown item lists not in the DB
;dropdown.meal=breakfast;lunch;dinner;snack;other

dropdown.meal.0.name=breakfast
dropdown.meal.0.start=5
dropdown.meal.0.end=11
dropdown.meal.1.name=lunch
dropdown.meal.1.start=11
dropdown.meal.1.end=15
dropdown.meal.2.name=dinner
dropdown.meal.2.start=17
dropdown.meal.2.end=22
dropdown.meal.3.name=snack

dropdown.course=starter;main course;dessert
dropdown.mood=happy;excited;sleepy;sad;tired;bored

;Server side only

_mysql.host=foodportrait.coqhmkpzcxzn.us-west-1.rds.amazonaws.com
.username=fpapp
.password=f4Thought
.dbname=foodportrait

;Git path for auto-update
_GIT.PATH=C:\Program Files (x86)\Git\bin
_GIT.GIT=git.exe

upload._diskPath=C:\inetpub\wwwroot\upload
upload.baseUrl=/upload

EXIF_SUPPORTED_TYPES=IMAGETYPE_JPEG;IMAGETYPE_TIFF_II;IMAGETYPE_TIFF_MM

_IPTC.headers.2#005=DocumentTitle
..2#010=Urgency
..2#015=Category
..2#020=Subcategories
..2#025=Tags
..2#040=SpecialInstructions
..2#055=CreationDate
..2#060=CreationTime
..2#080=AuthorByline
..2#085=AuthorTitle
..2#090=City
..2#095=State
..2#101=Country
..2#103=OTR
..2#105=Headline
..2#110=Source
..2#115=PhotoSource
..2#116=Copyright
..2#120=Caption
..2#122=CaptionWriter

