defaultTitle=Food Portrait
description=Food Portrait is here locally to spy on your pretty tasty birdy daily.
app.icon.default=images/icon128.png
app.icon.large=images/icon192.png
app.logo=images/logo40.png

;api.proxy=/proxy.php
api.foodportrait.url=api

;dropdown item lists not in the DB
dropdown.portrait=demographic;personal
dropdown.mood=Happy;Excited;Content;Grateful;Comfortable;Sad;Sick;Tired;Stressed;Angry / Upset

dropdown.order_by.Photo Date=image_date_taken
dropdown.order_by.Date Added=upload_date
dropdown.order_by.Random=random

dropdown.group.personal=meal
dropdown.group.demographic=meal
dropdown.group.admin=meal;mood;username

dropdown.meal.0.name=Breakfast
dropdown.meal.0.start=5
dropdown.meal.0.end=11
dropdown.meal.1.name=Lunch
dropdown.meal.1.courses=Starter;Main course;Dessert
dropdown.meal.1.start=11
dropdown.meal.1.end=15
dropdown.meal.2.name=Dinner
dropdown.meal.2.courses=Starter;Main course;Dessert
dropdown.meal.2.start=17
dropdown.meal.2.end=23
dropdown.meal.3.name=Snack

labels.filters.portrait=;portrait
labels.filters.reverse=ascending;descending
labels.filters.order_by=sorted by
labels.filters.group=grouped by
labels.filters.image_date_taken_min=since
labels.filters.image_date_taken_max=until

grid.showOptions=false
;grid.options.title=Your own Personal Portrait
grid.options.columns=4
..rows=4
..margin=2
..border=1
..ratio=1
..shadow=false

;Server side only
_mysql.host=foodportrait.coqhmkpzcxzn.us-west-1.rds.amazonaws.com
.username=fpapp
.password=f4Thought
.dbname=foodportrait

;Git path for auto-update
_GIT.PATH=C:\Program Files (x86)\Git\bin
_GIT.GIT=git.exe

upload._diskPath=C:\inetpub\wwwroot\upload
upload.baseUrl=/upload
upload.server=//foodportraitproject.com
upload.queued=true

;image thumbnail generation
thumbnails.sizes.hd=1920
thumbnails.sizes.ss=960
thumbnails.sizes.tn=240
thumbnails.maxStretch=1.5
thumbnails.cropRatio=1
thumbnails.keep=hd

;external JS
lib.path=../lib
lib.js=angular-ui-router.min.js;ng-file-upload.js;md5.min.js;ui-bootstrap-tpls-1.2.5.min.js
lib.angular.path=../lib/angular-1.4.2
lib.angular.js=angular.min.js;angular-resource.min.js;angular-sanitize.min.js;angular-animate.min.js

lib.bootstrap.path=../lib/bootstrap
lib.bootstrap.js=js/bootstrap.min.js
lib.bootstrap.css=css/bootstrap.min.css
lib.bootstrap.sizes.tn=320
...xs=480
...sm=768
...md=992
...lg=1200

MediaThingy.path=../mt/js
EXIF_SUPPORTED_TYPES=IMAGETYPE_JPEG;IMAGETYPE_TIFF_II;IMAGETYPE_TIFF_MM

_IPTC.headers.2#005=DocumentTitle
..2#010=Urgency
..2#015=Category
..2#020=Subcategories
..2#025=Tags
..2#040=SpecialInstructions
..2#055=CreationDate
..2#060=CreationTime
..2#080=AuthorByline
..2#085=AuthorTitle
..2#090=City
..2#095=State
..2#101=Country
..2#103=OTR
..2#105=Headline
..2#110=Source
..2#115=PhotoSource
..2#116=Copyright
..2#120=Caption
..2#122=CaptionWriter

