@media screen
{
  div#main
  {
    margin-top: 50px;
  }
}

.centered
{
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.caption, .caption-right
{
    position: absolute;
    bottom: 0px;
    padding: 3px;
}

.caption-right
{
    right: 0px;
    text-align: right;
}

.bold
{
    font-weight: bold;    
}

.left
{
    text-align: left;   
}

.right
{
    text-align: right;   
}

.bgwhite
{
  background-color: white;
}

img.contain
{
    object-position: center center;
    object-fit: contain;
}

img.cover
{
    object-position: center center;
    object-fit: cover;
}

.stretchH, .stretch
{
  height: 100%;
}

.stretchW, .stretch
{
  width: 100%;
}

.shrinkH, .shrink
{
  max-height: 100%;
}

.shrinkW, .shrink
{
  max-width: 100%;
}

.nowrap {
    white-space: nowrap;
}

.text {
  white-space:pre-line;
}

.textOutline, .textBlackOutline
{
  padding: 1px;
  color: white;
  text-shadow: 
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.textWhiteOutline
{
  text-shadow: 
     -1px -1px 0 white,  
      1px -1px 0 white,
      -1px 1px 0 white,
       1px 1px 0 white;
}

.textOutline2, .textBlackOutline2
{
  padding: 2px;
  color: white;
  text-shadow: 
     -2px -2px 0 #000,  
      2px -2px 0 #000,
      -2px 2px 0 #000,
       2px 2px 0 #000,
     -2px 0px 0 #000,  
      2px 0px 0 #000,
      0px -2px 0 #000,
      0px 2px 0 #000;
}

.textWhiteOutline2
{
  text-shadow: 
     -2px -2px 0 white,  
      2px -2px 0 white,
      -2px 2px 0 white,
       2px 2px 0 white,
     -2px 0px 0 white,  
      2px 0px 0 white,
      0px -2px 0 white,
      0px 2px 0 white;
}

.pad0 {
    padding: 0px;
}

.pad1 {
    padding: 1px;
}

.pad2 {
    padding: 2px;
}

.pad5 {
    padding: 5px;
}

.pad10 {
    padding: 10px;
}

.z-2 {
 z-index: -2;
}

/* === Bootstrap customizations === */

a.navbar-brand
{
    padding: 2px;
}

.modal-header 
{
  padding-top: 5px;
  padding-bottom: 5px;
}

button label
{
  margin-bottom: 0px;
}

@media (min-width: 768px) 
{
    img.preview.portrait 
    {
        max-height: 500px; 
    }
}

@media (max-device-width: 480px) and (orientation: portrait)
{
    .modal-sm 
    {
        width: 300px;
    }
}

@media (max-device-width: 640px) and (orientation: landscape)
{
    .modal-dialog 
    {
        margin-top: 10px;
        margin-bottom: 0px;
        margin-right: auto;
        margin-left: auto;
    }

    img.preview
    {
        max-height: 240px;
    }

    .modal-sm 
    {
        width: 300px;
    }

    .modal-lg 
    {
        max-width: 80%;
    }
}

/* bootstrap overrides */

a.glyphicon
{
    text-decoration: none;
    cursor: pointer;
}

.has-error
{   
    color: #B00;
}

.has-error label:after 
{
    content: " *";
}

.star-rating a.glyphicon
{
  margin-left: 3px;
}

.star-rating .glyphicon-star
{
  color: orange;
}

.star-rating .glyphicon-star-empty
{
  color: black;
}