
image-grid > .imageGrid
{
	font-size: 0px;
}

.imageGrid
{
	text-align: left;
/*	background-color: white; */
}

.bgCenterCover
{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imageGrid .cell
{
/*    float: left; */
	display: inline-block; 
    overflow: hidden; 
    font-weight: bold;
    font-size: 14px;
}
