.imageGrid
{
	text-align: center;
}

.bgCenterCover
{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imageGrid .cell
{
    float: left;
    overflow: hidden; 
}