.imageGrid
{
	text-align: center;
	background-color: #ccc;
}

.bgCenterCover
{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imageGrid .cell
{
/*	display: inline-block; */
    float: left;
    overflow: hidden; 
    font-weight: bold;
}
