.form-signin
{
  padding: 10px;
  margin: 0 auto;
}

.form-signin.narrow, .form-signin .narrow
{
  max-width: 400px;
}

.form-signin .form-signin-heading
{
	text-align: center;
	margin-top: 10px;
}

.form-signin .form-signin-heading, .form-signin .margin, .marginB
{
  margin-bottom: 10px;
}

.form-signin .checkbox
{
  font-weight: normal;
}

