/* Sticky footer styles
-------------------------------------------------- */

body.aboveFooter
{
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}

footer, .footer 
{
  max-height: 30px;
  width: 100%;
  text-align: center;
}

footer.fixed, .footer.fixed, .isMobile footer, .isMobile .footer
{
	position: fixed;
	bottom: 0;
}

@media print
{
	footer, .footer
	{
		position: fixed;
		bottom: 0;
	}
}