/* Sticky footer styles
-------------------------------------------------- */

body.footer
{
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}

.footer 
{
  position: fixed;
  bottom: 0;
  max-height: 40px;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
  text-align: center;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
