<style id="addedCSS" type="text/css">{{vm.addedCss}}</style>

<p class="form-signin-heading"><span ng-if="vm.showDebug">{{vm.columns}}x{{vm.rows}} {{vm.totalWidth}} </span>{{vm.title}}</p>
<div class="imageGrid">
	<div ng-repeat="im in vm.images" ng-if="im.filename" 
	    class="bgCenterCover cell textOutline" ng-class="vm.imageClasses(im)" ng-style="vm.imageStyle(im)"
	    ng-click="vm.imageDetails(im)" title="{{vm.imageTitle(im)}}">
	    <div ng-if="vm.showDebug">{{$index}} {{im.colspan}}x{{im.rowspan}} {{vm.imageWidth(im.colspan)}} 
	    <br/>{{vm.imageTitle(im)}}
		</div>
	</div>
</div>
<pre ng-if="vm.showDebug">{{vm.addedCss}}</pre>
