<h3 class="form-signin-heading">User home page</h3>

<!---
My Meals: view latest for this user
* view User’s Individual Portrait - Meal Type grid with four grids 
<grid
 directive/>
* Grid will have blanks until the user has completed 16 or 20 of each Meal Type - will need lines to show incomplete grid (to encourage completing grid) .
1 grid by meal
1 grid with 1 column / meal, 1 row / day
-->

<div class="col-md-3">
	Filters<br/>

<div ng-repeat="f in mc.filters">
{{f.id}} {{f.field_name}}

</div>


</div>

<div class="col-md-6">
    	Main zone<br/>
</div>
