<!---
My Meals: view latest for this user
* view User’s Individual Portrait - Meal Type grid with four grids 
<grid
 directive/>
* Grid will have blanks until the user has completed 16 or 20 of each Meal Type - will need lines to show incomplete grid (to encourage completing grid) .
1 grid by meal
1 grid with 1 column / meal, 1 row / day
-->
<div id="wrapper" class="main ease05" ng-class="lc.sidebarWrapperClasses()">

<div id="sidebar-wrapper" class="ease05 hidden-print">
<form name="filterForm">
    <div class="input-group">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="lc.toggleSidebar(false);  mc.resizeGrid(400, 800);">
          <i class="glyphicon glyphicon-triangle-left"></i>
        </button> 
        <button type="button" class="btn btn-default" ng-if="mc.filters.searchText" ng-click="mc.clearFilter('searchText', true)">
          <i class="glyphicon glyphicon-remove-circle"></i>
        </button> 
      </span>
      <input type="text" class="form-control" id="inputDescription" ng-model="mc.filters.searchText" placeholder="Search" ng-blur="mc.search()"/>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="mc.search()">
          <i class="glyphicon glyphicon-search"></i>
        </button> 
      </span>
    </div>

    <br/>
    <div class="input-group">
      <span class="input-group-btn">
         <button type="button" class="btn btn-default dropdown-label"><label for="dd_portrait">Portrait</label></button> 
      </span>
      <select id="dd_portrait" ng-model="mc.filters.portrait" name="meal" class="form-control" ng-options="item for item in mc.portrait" ng-change="mc.search()">
        </select>
    </div>
    <div class="input-group border-collapse">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-label" ng-click="mc.filters.reverse = !mc.filters.reverse; mc.search()">
          <label for="dd_order">Order</label>
          <i class="glyphicon" ng-class="mc.orderArrow()"></i>
        </button> 
      </span>
      <select id="dd_order" ng-model="mc.filters.order_by" name="order" class="form-control" ng-options="item for item in mc.dropdown.order_by_keys" ng-change="mc.search()">
      </select>
    </div>
    <div class="input-group border-collapse">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-label"><label for="dd_group">Grid by</label></button> 
      </span>
        <select id="dd_group" ng-model="mc.filters.group" name="group" class="form-control" ng-options="item for item in mc.getGroupOptions()" ng-change="mc.search()">
          <option value="">1 grid</option>
        </select>
    </div>

    <br/>

    <div class="input-group">
      <input type="text" id="inputDate" name="date_min" class="form-control"
      ng-model="mc.filters.image_date_taken_min" uib-datepicker-popup="{{mc.dateFormat}}" ng-click="mc.pickDate(1)"
      is-open="mc.datepickerOpen1" datepicker-options="mc.dateOptions" close-text="Close" placeholder="From date"  ng-change="mc.search()"/>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-if="mc.filters.image_date_taken_min" ng-click="mc.clearFilter('image_date_taken_min'); mc.search();">
          <i class="glyphicon glyphicon-remove-circle"></i>
        </button> 
        <button type="button" class="btn btn-default" ng-click="mc.pickDate(1)">
          <i class="glyphicon glyphicon-calendar"></i>          
        </button>
      </span>
    </div>

    <div class="input-group border-collapse">
      <input type="text" id="inputDateMax" name="date_max" class="form-control"
      ng-model="mc.filters.image_date_taken_max" uib-datepicker-popup="{{mc.dateFormat}}" ng-click="mc.pickDate(2)"
      is-open="mc.datepickerOpen2" datepicker-options="mc.dateOptions" close-text="Close" placeholder="To date"  ng-change="mc.search()"/>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-if="mc.filters.image_date_taken_max" ng-click="mc.clearFilter('image_date_taken_max'); mc.search();">
          <i class="glyphicon glyphicon-remove-circle"></i>
        </button> 
        <button type="button" class="btn btn-default" ng-click="mc.pickDate(2)">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
    </div>

    <br/>

    <div class="input-group">
      <span class="input-group-btn">
         <button type="button" class="btn btn-default dropdown-label"><label for="dd_meal">Meal</label></button> 
      </span>
      <select id="dd_meal" ng-model="mc.filters.meal" name="meal" class="form-control" ng-options="item.name for item in mc.dropdown.meal" ng-change="mc.search()">
          <option value="">-</option>
        </select>
    </div>

    <!--div class="input-group border-collapse">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-label"><label for="dd_course">Course</label></button> 
      </span>
      <select id="dd_course" ng-model="mc.filters.course" name="course" class="form-control" ng-options="item for item in mc.getCourses()" ng-change="mc.search()">
          <option value="">-</option>
      </select>
    </div>

    <div class="input-group border-collapse">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-label"><label for="dd_mood">Mood</label></button> 
      </span>
      <select id="dd_mood" ng-model="mc.filters.mood" name="mood" class="form-control" ng-options="item for item in mc.dropdown.mood" ng-change="mc.search()">
          <option value="">-</option>
      </select>
    </div-->
    <div class="input-group border-collapse" ng-repeat="q in mc.questions" ng-if="mc.isFilter(q) && mc.filters.portrait=='demographic'">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-label"><label for="dd_{{q.field_name}}">{{q.title}}</label></button> 
      </span>
      <select id="dd_{{q.field_name}}" name="{{q.field_name}}" class="form-control" ng-model="mc.filters[q.field_name]" ng-options="a.label for a in q.form_answers" ng-change="mc.search()">
        <option value="">-</option>
        </select>
    </div>
  </form>

  <div ng-if="mc.showDebug">filters</div>
  <pre ng-if="mc.showDebug">{{mc.filters | toJson:true}}</pre>
  <div ng-if="mc.showDebug">params</div>
  <pre ng-if="mc.showDebug">{{mc.params  | toJson:true}}</pre>
</div>

<div id="page-content-wrapper">
  <span class="hidden-print">
    <a class="btn btn-default menu-toggle glyphicon glyphicon-search" title="toggle filters" ng-hide="lc.sidebar" ng-click="lc.toggleSidebar(true);  mc.resizeGrid(400, 800);"></a>
    <a class="btn btn-default glyphicon glyphicon-menu-hamburger" title="grid options" ng-click="mc.showOptions=!mc.showOptions"></a>
    <spinner label="columns:" value="mc.options.columns"  min="1" max="8" loop="true" mobile="true" hold="true" change="mc.searchMore"></spinner> 
    <spinner label="rows:"    value="mc.options.rows"     min="1" max="8" loop="true" mobile="true" hold="true" change="mc.searchMore"></spinner>
    &nbsp;
    <span ng-if="mc.showOptions">
        <spinner label="margin:" value="mc.options.margin"   min="-1" max="50" loop="true" mobile="true" hold="true"></spinner>
        <spinner label="border:" value="mc.options.border"   min="0"  max="10" loop="true" mobile="true" hold="true"></spinner>
        <spinner label="ratio:"  value="mc.options.ratio"    min="0.5" max="4" loop="true" mobile="true" hold="true" step="0.05"></spinner>
        &nbsp;<input type="checkbox" ng-model="mc.options.shadow" /> shadow
        &nbsp;<input type="checkbox" ng-model="mc.showDebug" /> debug
    </span>
  </span>
  <span class="h3" ng-class="{nowrap: !lc.isMobile}">{{mc.title}}</span>

  <div ng-if="mc.showDebug">{{mc.options | toJson:true}}</div>
  <div ng-if="mc.showDebug">{{mc.users | toJson:true }}</div>
  <pre ng-if="mc.showDebug && mc.queries">{{mc.queries | toJson:true }}</pre>
  
  <div id="grids">
    <div ng-class="mc.gridClasses()" ng-repeat="group in mc.searchResults">
        <h3 class="text-center" ng-if="mc.searchResults.length>1">{{group.key}}</h3>
        <image-grid main="mc" images="group.value" options="mc.options" show-debug="mc.showDebug"></image-grid>
    </div>
  </div>
</div>
</div>
