<!---
My Meals: view latest for this user
* view User’s Individual Portrait - Meal Type grid with four grids 
<grid
 directive/>
* Grid will have blanks until the user has completed 16 or 20 of each Meal Type - will need lines to show incomplete grid (to encourage completing grid) .
1 grid by meal
1 grid with 1 column / meal, 1 row / day
-->
<div id="wrapper" class="main ease05">

<div id="sidebar-wrapper" class="ease05">
<form name="filterForm">
    <div class="input-group">
      <input type="text" class="form-control" id="inputDescription" ng-model="mc.filters.search" placeholder="Search" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="mc.search()">
          <i class="glyphicon glyphicon-search"></i>
        </button> 
      </span>
    </div>
    <br/>
    <div class="input-group">
      <input type="text" id="inputDate" 
      name="date_min" class="form-control"
      ng-model="mc.filters.date_min" 
      datepicker-popup="{{mc.dateFormat}}" ng-click="mc.pickDate(1)"
      is-open="mc.datepickerOpen1" max-date="mc.today" 
      datepicker-options="mc.dateOptions"
      close-text="Close" placeholder="From date"/>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="mc.pickDate(1)">
          <i class="glyphicon glyphicon-calendar"></i>          
        </button>
      </span>
    </div>
    <br/>
    <div class="input-group">
      <input type="text" id="inputDateMax" 
      name="date_max" class="form-control"
      ng-model="mc.filters.date_max" 
      datepicker-popup="{{mc.dateFormat}}" ng-click="mc.pickDate(2)"
      is-open="mc.datepickerOpen2" max-date="mc.today" 
      datepicker-options="mc.dateOptions"
      close-text="Close" placeholder="To date"/>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="mc.pickDate(2)">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
    </div>
    <br/>

    <ul class="nav nav-sidebar filters">
    <li>
        <label for="dd_meal">Meal:</label> 
        <select id="dd_meal" ng-model="mc.filters.meal" name="meal" class="form-control" ng-options="item.name for item in mc.fpConfig.dropdown.meal">
          <option value="">-</option>
        </select>
    </li>
    <li>
        <label for="dd_course">Course:</label> 
        <select id="dd_course" ng-model="mc.filters.course" name="course" class="form-control" ng-options="item for item in mc.fpConfig.dropdown.course">
          <option value="">-</option>
        </select>
    </li>
    </ul>
    <hr/>
    <ul class="nav nav-sidebar filters">
      <li ng-repeat="q in mc.questions" ng-if="q.data_type=='single' || q.data_type=='multiple'">
        <label for="dd_{{q.field_name}}">{{q.title}}:</label>
        <select id="dd_{{q.field_name}}" name="{{q.field_name}}" class="form-control" ng-model="mc.filters[q.field_name]" ng-options="a.label for a in q.form_answers">
          <option value="">-</option>
        </select>
      </li>
    </ul>

   <pre ng-if="mc.showDebug">{{mc.params  | toJson}}</pre>
   <pre ng-if="mc.showDebug">{{mc.filters | toJson}}</pre>
</form>
</div>

  <div id="page-content-wrapper">
    <a class="btn btn-default menu-toggle glyphicon glyphicon-search" title="toggle filters" ng-click="mc.toggleSidebar()"></a>
    <a class="btn btn-default glyphicon glyphicon-resize-horizontal" title="resize grid" ng-click="mc.resizeGrid()"></a>
    <a class="btn btn-default glyphicon glyphicon-menu-hamburger" title="grid options" ng-click="mc.showOptions=!mc.showOptions"></a>
    <span ng-if="mc.showOptions">
        columns: <input type="number"   ng-model="mc.options.columns"  min="1" max="10" /> 
        rows:    <input type="number"   ng-model="mc.options.rows"     min="1" max="10" /> 
        ratio:   <input type="number"   ng-model="mc.options.ratio"    min="0.5" max="4" step="0.05" /> 
        margin:  <input type="number"   ng-model="mc.options.margin"   min="-1" max="50"/> 
        border:  <input type="number"   ng-model="mc.options.border"   min="0"  max="50"/> 
        shadow:  <input type="checkbox" ng-model="mc.options.shadow" /> 
    </span>
    <pre ng-if="mc.showDebug">{{mc.options | toJson:true}}</pre>

    <h2 class="form-signin-heading">{{mc.title}}</h2>
    <image-grid images="mc.searchResults" options="mc.options"/>
  </div>

</div>
