<form role="form" name="signupForm" class='form-signin container'>
  <h2 class="form-signin-heading">Create your account</h2>

  <div class="col-xs-6 marginB" ng-class="{'has-error': signupForm.username.$invalid }">
    <label for="inputUsername">Username
      <span class="control-label" ng-show="signupForm.username.$error.required"></span>
    </label>
    <input type="text" id="inputUsername" name="username" class="form-control first" placeholder="Username" ng-model="lc.form.username" required autofocus>
  </div>

  <div class="col-xs-6 marginB" ng-class="{'has-error': signupForm.email.$invalid }">
    <label for="inputEmail">Email address
      <span ng-show="signupForm.email.$error.required" class="control-label"></span>
    </label>
    <input type="email" id="inputEmail" name="email" class="form-control last" ng-model="lc.form.email" placeholder="Email address" required>
  </div>

  <div class="col-xs-6 marginB" ng-class="{'has-error': signupForm.password.$invalid }">
      <label for="inputPassword1">Password
        <span ng-show="signupForm.password.$error.required" class="control-label"></span>
      </label>
      <input type="password" name="password" id="inputPassword1" class="form-control" ng-model="lc.form.password" placeholder="Password" required>
  </div>

  <div class="col-xs-6 marginB" ng-class="{'has-error': signupForm.password2.$invalid }">
    <label for="inputPassword2">Confirm Password
      <span ng-show="signupForm.password2.$error.required" class="control-label"></span>
    </label>
    <input type="password" id="inputPassword2" name="password2" class="form-control" ng-model="lc.form.password2" placeholder="Confirm Password" required>
  </div>

  <div class="col-xs-6 marginB">
    <label for="inputFirstName">First name</label>
    <input type="text" id="inputFirstName" name="firstName" class="form-control" placeholder="First name" ng-model="lc.form.first_name">
  </div>
  <div class="col-xs-6 marginB">
    <label for="inputLastName">Last name</label>
    <input type="text" id="inputLastName"  name="lastName" class="form-control" placeholder="Last name" ng-model="lc.form.last_name">
  </div>

  <div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="lc.signup()">Sign up</button>
    <p>Do you have an account, but <a ui-sref="reset1">forgot your password</a> ?</p>
    <p class="has-error">{{lc.message}}</p>
  </div>
</form>