<form class="file-uploader" name="uploadForm" novalidate>
    {{uc.showDebug && uc.form.upload_id}}
    <div class="col-md-4 center-block" style="float:none"> 
        <label for="inputFiles" class="uploadThumbnail shadow">
          <div ng-show="!uc.uploadUrl" class="uploadLabel" >Click to Select Photo<br/>{{uc.progressPercentage}}</div>
          <img id="thumbnail" ng-src="{{uc.uploadUrl}}" ng-show="uc.uploadUrl"/> 
        </label> 
    </div>
       <input type="file" id="inputFiles" ngf-select ng-model="uc.file" name="file" ngf-multiple="false" 
        accept="image/*" required ngf-change="uc.upload([uc.file])" style="width: 0px; height: 0px; " />

    <div class="col-md-6 col-sm-6">
      <label for="inputDate">Date:</label> 
      <div class="input-group">
        <input type="text" id="inputDate" 
            name="image_date_taken" class="form-control" 
            ng-model="uc.form.image_date_taken" 
            datepicker-popup="{{uc.dateFormat}}" 
            is-open="uc.datepickerOpen" max-date="uc.today" 
            datepicker-options="uc.dateOptions" ng-required="true" 
            close-text="Close" placeholder="Date"/>

        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="uc.pickDate()">
            <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </span>
      </div>
    </div>

    <div class="col-md-6 col-sm-6">
        <label for="ddMeal">Meal:</label> 
        <select id="ddMeal" ng-model="uc.form.meal"   class="form-control" name="meal"   ng-options="item for item in uc.meals" required/>
    </div>

    <div class="col-md-6 col-sm-6">
      <label for="inputShared">Shared with:</label> 
      <input type="number" id="inputShared" name="shared_with" class="form-control" ng-model="uc.form.shared_with" min="1" max="20" placeholder="Shared with" required/>
    </div>

    <div class="col-md-6 col-sm-6">
        <label for="ddCourse">Course:</label> 
        <select id="ddCourse" ng-model="uc.form.course" class="form-control" name="course" ng-options="item for item in uc.fpConfig.dropdown.course" />
    </div>

    <div class="col-md-12">
        <label for="inputDescription">Food Description:</label> 
        <textarea id="inputDescription" name="caption" class="form-control" ng-model="uc.form.caption" placeholder="Description" required></textarea>
    </div>

    <div class="col-md-6">
        <label for="ddMood">Mood:</label> 
        <select id="ddMood" ng-model="uc.form.mood" class="form-control" ng-options="item for item in uc.fpConfig.dropdown.mood"/>
    </div>

    <div class="col-md-6">
        <label for="inputContext">Meal Context:</label> 
        <input type="text" id="inputContext" name="context" class="form-control" ng-model="uc.form.context" placeholder="Context" required/>
    </div>
    <p class="col-md-6">
      <br/>
      <button class="btn btn-primary" type="submit" ng-click="uc.saveUpload()" ng-disabled="uc.validate(uploadForm)">Upload</button>
      <button class="btn" type="submit" ng-click="uc.cancelUpload()">Cancel</button>
    </p>
    <div class="col-md-12" ng-if="uc.showDebug">
      Upload Log:
      <pre>{{uc.log}}</pre>
    </div>

</form>