.imageGrid
{
  text-align: left;
  font-size: 0px;
/*
  background-color: white;
  border: 1px solid black;
*/
}

.bgCenterCover
{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imageGrid .cell
{
    display: inline-block; 
    overflow: hidden; 
    font-size: 14px;
    background-color: #eee;
    position: relative;
}

.ratio-wrapper 
{
  display: inline-block;
  position: relative;
}

.ratio-wrapper:after 
{
  padding-top: 100%; /* override according to ratio: 16/9 => 56.25%;*/
  display: block;
  content: '';
}

.ratio-content
{
  /* fill parent */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}