<style id="addedCSS" type="text/css">{{vm.dynamicCss()}}</style>

<span class="form-signin-heading">{{vm.options.title}}</span>

<span ng-if="vm.showDebug">	
	grid: {{vm.options.columns}}C x {{vm.options.rows}}R {{vm.gridWidth}} x {{vm.gridHeight}}  / {{vm.gridRatio}}
	available: {{vm.availableWidth}} x {{vm.availableHeight}} / {{vm.roundRatio()}} 
	fit: {{vm.fit}}
</span>
<div class="alert alert-danger" role="alert" ng-if="!vm.images">
	<span class="glyphicon glyphicon-exclamation-sign"></span> No results found.
</div>
<pre ng-if="false && vm.showDebug">{{vm.dynamicCss()}}</pre>

<div class="imageGrid centered">
	<div ng-repeat="im in vm.images" ng-if="$index < vm.options.rows * vm.options.columns"
	    class="bgCenterCover cell right" ng-class="vm.imageClasses(im)" ng-style="vm.imageStyle(im)">
	    	<fp-popover pop-title="{{vm.imageTitle(im)}}" pop-content="{{vm.imageDescription(im)}}"></fp-popover>
		    <i class="textOutline glyphicon glyphicon-edit" ng-if="vm.isMine(im)" ui-sref="upload({ uploadId: im.upload_id })"></i>

	    	<div class="textOutline" ng-if="vm.showDebug">{{$index}} {{im.colspan}}x{{im.rowspan}} {{vm.imageWidth(im.colspan)}} 
	    		<br/>{{im.filename}}
	    		<br/>{{vm.imageTitle(im)}}
			</div>
	</div>
</div>
