image-grid > .imageGrid
{
	font-size: 0px;
}

.imageGrid
{
	text-align: left;
}

.bgCenterCover
{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imageGrid .cell
{
	display: inline-block; 
    overflow: hidden; 
    font-weight: bold;
    font-size: 14px;
    background-color: #eee;
    position: relative;
}

.centered
{
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.caption
{
    position: absolute;
    bottom: 0px;
}

.left
{
    text-align: left;   
}

.right
{
    text-align: right;   
}

img.preview.portrait 
{
    max-height: 6cm; 
}

img.contain
{
    object-position: center center;
    object-fit: contain;
}

img.cover
{
    object-position: center center;
    object-fit: cover;
}

.stretchH, .stretch
{
  height: 100%;
}

.stretchW, .stretch
{
  width: 100%;
}
