<style id="addedCSS" type="text/css">{{vm.dynamicCss()}}</style>

<span class="form-signin-heading">{{vm.options.title}}</span>

<span ng-if="vm.showDebug">
	{{vm.options.columns}}x{{vm.options.rows}}
	<span ng-if="vm.delta() > 0" class="glyphicon glyphicon-arrow-up"   style="color:green"></span>
	<span ng-if="vm.delta() < 0" class="glyphicon glyphicon-arrow-down" style="color:red"></span>
	{{vm.delta()}} = {{vm.totalWidth}} - {{vm.prevWidth}}
</span>

<div class="imageGrid">
	<div ng-repeat="im in vm.images" ng-if="im.filename" 
	    class="bgCenterCover cell" ng-class="vm.imageClasses(im)" ng-style="vm.imageStyle(im)"
	    ng-click="vm.imageDetails(im)" icon0="info-sign" size0="16pt"
	    <div ng-if="vm.showDebug">{{$index}} {{im.colspan}}x{{im.rowspan}} {{vm.imageWidth(im.colspan)}} 
	    <br/>{{vm.imageTitle(im)}}
		</div>
	</div>
</div>
<pre ng-if="vm.showDebug">{{vm.dynamicCss()}}</pre>
