<form class="container object-form form-inline" role="form">
    <h2 class="form-signin-heading">{{vm.title}}</h2>

	<p class="" ng-if="vm.intro">{{vm.intro}}</p>
	<span ng-show="vm.showDebug">questions: {{vm.questions.length}}</span>

    <div ng-repeat="q in vm.questions">
       <br/>
       <question vm="vm" q="q"/>
    </div>
    <br/>
    <div>
        <button id="btnSubmit" class="btn btn-primary"  ng-click="vm.saveForm()">Submit</button>
        <button id="btnCancel" class="btn" ng-click="vm.cancel()" type="button">Cancel</button>
        <button id="btnReload" class="btn" ng-click="vm.loadUserAnswers()" ng-show="vm.showDebug">Reload</button>
    </div>
    <div ng-show="vm.showDebug">       
        <div class="col-md-6">
            loaded questions: <pre>{{ vm.questions | toJson }}</pre>
        </div>
        <div class="col-md-6">
            formData: <pre>{{ vm.formData | toJson:true }}</pre>
            postData: <pre>{{ vm.postData | toJson:true }}</pre>
        </div>
    </div>
</form>