<span class="spinner-wrapper">
	{{vm.label}}
	<input type="number" class="spinner" ng-if="!vm.isMobile" ng-model="vm.value" min="{{vm.min - vm.step}}" max="{{vm.max + vm.step}}" step="{{vm.step}}" ng-change="vm.onChange()" />
	<span class="spinner noselect" ng-if="vm.isMobile" title="{{vm.min}} - {{vm.max}}">
	    <button class="glyphicon glyphicon-minus-sign" ng-mousedown="vm.addValue(-1)"></button>
	    {{vm.value}}
	    <button class="glyphicon glyphicon-plus-sign" ng-mousedown="vm.addValue(1)"></button>
	</span>
</span>